.project-card-container {
  width: 100%;
  height: 100%;
  min-height: 250px;
  background: #2C2040;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(124, 58, 237, 0.5),
              0 0 30px rgba(124, 58, 237, 0.2);
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.project-card-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: linear-gradient(
    105deg,
    transparent 40%,
    rgba(255,255,255,0.8) 45%,
    rgba(255,255,255,0.4) 50%,
    transparent 55%,
    transparent 100%
  );
  background-size: 200% 200%;
  background-position: 50% 50%;
  filter: opacity(0);
  pointer-events: none;
}

.project-card-content {
  padding: 1.5rem;
  position: relative;
  z-index: 2;
  color: #f0f0f0;
  display: flex;
  flex-direction: column;
  height: 85%;
  text-align: left;
}

.project-title {
  font-size: 1.4rem;
  color: #f0f0f0;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.project-summary {
  font-size: 0.95rem;
  color: #ccc;
  line-height: 1.5;
  margin-bottom: 1rem;
  flex-grow: 1;
}

.project-badges {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: auto;
}

.project-team-badge {
  background: #a78bfa;
  color: #181818;
  border-radius: 8px;
  padding: 5px 10px;
  font-size: 0.85rem;
  font-weight: 500;
}

.project-skill-badge {
    background: #dbb8e7;
    color: #181818;
    border-radius: 8px;
    padding: 5px 10px;
    font-size: 0.85rem;
    font-weight: 500;
}