.projects-section {
  max-width: 1100px;
  margin: 20rem auto;
  padding: 2rem 1rem;
}

.projects-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}
