:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* --text-color: #213547; */
    --bg-color: #ffffff;
    --accent-color: #ff0055;
}

.dark {
    --text-color: rgba(255, 255, 255, 0.87);
    --bg-color: #242424;
    --accent-color: #00ffff;
}

body {
    margin: 0;
    padding: 0;
    min-width: 320px;
    min-height: 100vh;
    color: var(--text-color);
    background: transparent;
    overflow-x: hidden;
}

/* Layout Styles */
.layout-container {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    pointer-events: auto;
    backdrop-filter: blur(5px);
}



/* Responsive */
@media (max-width: 768px) {
    .overlay-panel {
        width: 100%;
        max-width: 100%;
    }

    .home-overlay h1 {
        font-size: 2rem;
    }
}